{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header>
        <div class="navbar">
            <span class="nav-list">
                <div class="nav-item"><a href="{% url 'home' %}">Home</a></div>
            </span>
            {% if user.is_authenticated %}
            <span>
                <div class="nav-item"><a href="{% url 'logout' %}">Logout</a></div>
            </span>
            {% else %}
            <span>
                <div class="nav-item"><a href="{% url 'signup' %}">Signup</a></div>
            </span>
            <span>
                <div class="nav-item"><a href="{% url 'signin' %}">Signin</a></div>
            </span>
            {% endif %}
            {% if user.is_authenticated %}
            <div style="font-size:50px;font-weight:300px;margin-left:100px;"><a href="{% url 'create_post' %}">NEW
                    POST</a></div>
            {% endif %}
            <form action="{% url 'search_result' %}" role="form" method="GET">
                <div>
                    <select name="search-box" id="">
                        <option value="Everything">Everything</option>
                        <option value="Titles">Titles</option>
                        <option value="Descriptions">Descriptions</option>
                    </select>
                    <input type="text" name="q" placeholder="search ...">
                    <button type="submit" name="search"><i class="fa fa-search"></i></button>
                </div>
            </form>

        </div>

    </header>
    {% if messages %}
    {% for message in messages %}
    <div style="background-color:#fff;color:#000;font-weight:bolder;padding:20px;width:100%;"> {{message}} </div>
    {% endfor %}
    {% endif %}
    {% block content %}
    {% endblock content %}
    <script src="{% static 'main.js' %}"></script>
</body>

</html>